*{
    padding: 0px;
    margin: 0px;
}
.top{
    width: 100%;
    height: 1rem;
    background-color: red;
    text-align: center;
    font-size: 0.5rem;
    line-height: 1rem;
}
#main{
    width: 100%;
    height: 6rem;
}
#main ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 10px auto;
    height: 100%;
    width: 80vw;
}
#main ul li{
    float: left;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
    border: 1px solid blue;
}

#main ul li:last-child{
    border: 0px solid transparent;
}

.bottom{
    width: 100%;
    height: 1rem;
    line-height: 0.6rem;
    text-align: center;
}

.bottom button{
    font-size: 0.5rem;
}